target/
.DS_Store
releases
node_modules/
static/css/output.css
static/js/editor.bundle.js

# Playwright Test
test-results/
playwright-report/
playwright/.cache/

# Environment variables
.env
.env.local

# Editor directories and files
.vscode/
.idea/

# Temporary files
*.tmp
*.log
